* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    position: relative;
    height: 100%;
    width: 80%;                                 
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #5D6D7E, #566573);
}

audio{
    position: absolute;
    top: 0%;
    z-index: 10000;
}


.titre{
    width:300px;
    height:100px;
    position:absolute;
    color:white;
    top:40px;
    left:60px;
    z-index:1000;
}
.titre1{
    top:0;
    left:75%;
    color:white;
    text-align: center;
    font-size:50px;
    width:650px;
    height:100%;
    position:absolute;
    background-color:rgb(63, 43, 36);
    z-index:1000;
}
.input {
    position: absolute;
    bottom: 30%;
    left: 25%;
    width:20% ;
    -webkit-appearance: none;
    outline: none;
    height: 4px;

    margin: 0 15px;
    z-index: 1000;
}
.input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #FF8A65;
    cursor: pointer;
}

.p{
    position: absolute;
    right: 130px;top:0;
    font-size: 50px;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    z-index: 1009;
    overflow: hidden;
}

button{
    position: relative;
    margin: 30px;
    top: 30%;
    left: -55%;
    font-size: 30px;
    border: none;
    height: 100px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(245, 245, 245, 0.1);
    z-index: 1000;
};

div{
    width:300px;
    height:100%;


}

.image {
    position: absolute;
    height: 550px;
    width: 30%;
    top: 20%;
    left: 20%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
    z-index: 1000;

}
.image1{
    position: absolute;
    height: 550px;
    width: 30%;
    top: 20%;
    left: 20%;
    border-radius: 5px;
    background: url(./img/ninho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10077;
}





















/* 

.main button {
    padding: 10px 12px;
    margin: 0 10px;
}

.main #logo {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 27px;
    color: white;
    text-transform: capitalize;
}

.main #logo i {
    margin-right: 15px;
}

.right,
.left {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left img {
    height: 300px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
}

.left .volume {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 2px;
    margin: 0 15px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    outline: none;
    height: 20px;
    border-radius: 50%;
    background: #FF8A65;
    cursor: pointer;
}

.right input[type='range'] {
    width: 40%;
}

.left .volume p {
    font-size: 15px;
}

.left .volume i {
    cursor: pointer;
    padding: 8px 12px;
    background: #FF8A65;
}

.left .volume i:hover {
    background: rgba(245, 245, 245, 0.1);
}

.volume #volume_show {
    padding: 8px 12px;
    margin: 0 5px 0 0;
    background: rgba(245, 245, 245, 0.1);
}

.right .middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .middle button {
    border: none;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(245, 245, 245, 0.1);
}

.right #title {
    position: absolute;
    top: 60px;
    left: 60%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: white;
    font-size: 35px;
}

.right #artist {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: white;
    font-size: 18px;
}

.right .show_song_no {
    display: flex;
    color: white;
    font-size: 25px;
    position: absolute;
    top: 70px;
    left: 95%;
    transform: translateX(-50%);
}

.right .duration {
    position: absolute;
    bottom: 25%;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    margin-top: 40px;
}

.right .duration p {
    color: white;
    font-size: 15px;
    margin-left: 20px;
}

.right #auto {
    font-size: 18px;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    padding: 10px 14px;
    color: #FFF;
    background: rgba(245, 245, 245, 0.2);
    outline: none;
    border-radius: 10px;
}

.right #auto i {
    margin-left: 8px;
}

#play {
    background: #FF8A65;
}

.right button:hover {
    background: #FF8A65;
}

.right i:before {
    color: #FFF;
    font-size: 20px;
}

.right .show_song_no {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #FFF;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.right .show_song_no p:nth-child(2) {
    margin: 0 5px;
} 